@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
	box-sizing: border-box;
}

html{
	background-color: blanchedalmond;
	background-image: url("hald1.jpg");
	background-repeat: no-repeat;
	background-position: 60% 0%;
}

body{
	font-family: Quicksand, sans-serif;
	background-color: white;
	opacity: 0.85;
}

h1 a{
	text-decoration: none;
	padding: 1rem;
}

h1 a:hover{
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
}

h2{
	min-width: 100%;
}

#grid-container{
	display: grid;
	max-width: 900px;
	grid-template-rows: auto;
	grid-template-areas: 	"home"
							"menu"
							"main"
							"footer";
}

#page-header{
	padding: 1rem;
	max-width: 100%;
	grid-area: home;
}

#menu{
	padding: 1rem;
	max-width: 100%;
	grid-area: menu;
}


nav{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	
}

nav li a{
	text-decoration: underline;
	display: flex;
	padding: 1rem;
}

nav li a:hover{
	text-decoration: none;
	color: black;
	background-color: pink;
	padding: 1rem;
	border-radius: 10px;
}

main{
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	padding: 1.5rem;
}

.flex-container{

	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
}

a{
	text-decoration: underline;
	color: black;
	list-style: none;
}

a:hover{
	text-decoration: none;
}

footer{
	grid-area: footer;
	padding: 1rem;
	text-align: center;
	line-height: 200%;
}

footer a{
	color: white;
}

@media only screen and (min-width: 660px){

	#grid-container{
		margin: 0 auto;
		display: grid;
	}

	nav{
		justify-content: right;
	}

	#grid-container{
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		grid-template-areas: 	"home menu"
								"main main"
								"footer footer";
	}

}